<%- include ../layouts/cabecera.ejs %> 
       
            <div bgcolor="green">Comparar por Fecha</div>
            <div >
                <form action="/pases/resultados2" method="POST">
                    <div class="mb-3">
                        <label for="fecha1" class="form-label">Fecha 1</label>
                        <input type="date" name="fecha1" id="fecha1"  tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="fecha2" class="form-label">Fecha 2</label>
                        <input type="date" name="fecha2" id="fecha2" tabindex="2">
                    </div>
                    <button type="submit" tabindex="3">Comparar</button>
                    
                </form>
            </div>

<%- include ../layouts/pie.ejs %> 