<%- include ../layouts/cabecera.ejs %> 
<br/><br/>
<div >
    
    <div >
        <h5 class="card-title">Datos de la Cita</h5>
        <p class="card-text"></p>
        <form action="/pases/guardar" method="post"> 
            <div class="mb-3">
                <label for="nombre" class="form-label">Usuario</label>
                <select name="nombre" id="nombre" class="form-select" tabindex="1"> 
                        <option value="" selected disabled hidden>Seleccione una opción</option>
                <% pases.forEach((usuario) => { %>
                    <option value="<%= usuario.id_usuario %>"> <%= usuario.nombre%> </option>
                <% }) %> 
            </select>
        </div>

            <div class="form-group">
                <label for="my-input">Fecha de Compra</label>
                <input id="my-input"  type="date" name="fecha_compra">
            </div>
            <div class="form-group">
                <label for="my-input">Fecha de Expiración</label>
                <input id="my-input"  type="date" name="expiracion">
            </div>

            <div class="form-group">
                <label for="my-input">Tipo de Pase</label>
                <input id="my-input"  type="text" name="tipo_pase">
            </div>


        
            <button type="submit">Guardar</button>
            <a  href="https://minicore-01.herokuapp.com/pases">Cancelar</a>
        </form>
    </div>
</div>


<%- include ../layouts/pie.ejs %> 